<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My List App</title>
        <style>
            .main{
                border: 3px dotted aqua; 
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="main">
            {{{body}}}
        </div>
    </body>
</html>