<h2>Album Details</h2>
<h3>{{foundItem.name}}</h3>
<p>Artist: {{foundItem.artist}}</p>
<p>Release Date: {{foundItem.release}}</p>
<p>Number of Tracks: {{foundItem.tracksNum}}</p>
{{#if foundItem.inStock}}
<p>Now in stock!</p>
{{/if}}