<h1>MASTER VIEW</h1>
<p>Check out this list.</p>

    {{#each albums}}
    <div class="list-album">
        <a href="album/{{slug}}"><p><strong>{{name}}: </strong>{{artist}}</p></a>
        {{#if inStock}}
        <p>Now in Stock!</p>
        {{/if}}
    </div>
    {{/each}}
    